@{
  Layout = "_Layout";
}
@using HairSalon.Models;
@using System;

<h4>Search for Stylist:</h4>
@using (Html.BeginForm())
@System.Console.WriteLine(model);
{
  @Html.TextBox("stylistName");
  <input type="submit" value="Search Stylist">
}
<p>@Html.ActionLink("Back to Stylists", "Index")</p>