@{
  Layout = "_Layout";
}
@using HairSalon.Models;
@using System;

<h4>Search for Stylist:</h4>
@(ViewBag.Error == 1 ? "No Stylist found. Please revise search criteria." : "Please submit a search")
@using (Html.BeginForm())

{
  @Html.TextBox("stylistName");
  <input type="submit" value="Search Stylist">
}
<p>@Html.ActionLink("Back to Stylists", "Index")</p>